<!-- header-main -->
<%- include("./layouts/header.ejs") %>

<!-- end header-main -->

<!-- main -->
<main class="main">
  <div class="container">
    <!-- hot-post -->
    <div class="hot-post">
      <div class="columns">
        <div class="column is-8 hot-post-left">
          <div class="post post-thumb">
            <a href="blog-post" class="post-img">
              <img src="assets/images/post-1.jpg" alt="" />
            </a>
            <div class="post-body">
              <div class="post-category">
                <a href="blog-list">Technology</a>
              </div>
              <h3 class="post-title title-lg">
                <a href="blog-post">
                  Postea senserit id eos, vivendo periculis ei qui
                </a>
              </h3>
              <ul class="post-meta">
                <li>
                  <a href="about">Welison Menezes</a>
                </li>
                <li>20 April 2018</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-4 hot-post-right">
          <div class="post post-thumb">
            <div class="post-img">
              <div class="carousel carousel-animated carousel-animate-slide">
                <div class="carousel-container">
                  <div class="carousel-item is-active">
                    <a href="blog-post">
                      <img src="assets/images/post-2.jpg" />
                    </a>
                  </div>
                  <div class="carousel-item has-background">
                    <a href="blog-post">
                      <img src="assets/images/post-9.jpg" />
                    </a>
                  </div>
                  <div class="carousel-item has-background">
                    <a href="blog-post">
                      <img src="assets/images/post-7.jpg" />
                    </a>
                  </div>
                </div>
                <div class="carousel-navigation is-overlay">
                  <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </div>
                  <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="post-body">
              <div class="post-category">
                <a href="blog-list">Technology</a>
              </div>
              <h3 class="post-title title-lg">
                <a href="blog-post">
                  Postea senserit id eos, vivendo periculis ei qui
                </a>
              </h3>
              <ul class="post-meta">
                <li>
                  <a href="about">Welison Menezes</a>
                </li>
                <li>20 April 2018</li>
              </ul>
            </div>
          </div>
          <div class="post post-thumb">
            <a href="blog-post" class="post-img">
              <img src="assets/images/post-3.jpg" alt="" />
            </a>
            <div class="post-body">
              <div class="post-category">
                <a href="blog-list">Technology</a>
              </div>
              <h3 class="post-title title-lg">
                <a href="blog-post">
                  Postea senserit id eos, vivendo periculis ei qui
                </a>
              </h3>
              <ul class="post-meta">
                <li>
                  <a href="about">Welison Menezes</a>
                </li>
                <li>20 April 2018</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end hot-post -->

    <div class="columns content-body">
      <div class="column is-8">
        <!-- recent-posts -->
        <div class="recent-post">
          <div class="columns mb-15">
            <div class="column is-12">
              <div class="section-title">
                <h3 class="title">Recent Posts</h3>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-6 col-left">
              <div class="card">
                <a href="blog-post" class="post-img">
                  <img
                    src="assets/images/post-4.jpg"
                    class="card-img-top"
                    alt=""
                  />
                </a>
                <div class="card-body">
                  <div class="post-category">
                    <a href="blog-list">Technology</a>
                  </div>
                  <a href="blog-post">
                    <h5 class="card-title">Blah blah blah</h5>
                  </a>
                  <ul class="post-meta">
                    <li>
                      <a href="about">Welison Menezes</a>
                    </li>
                    <li>20 April 2018</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column is-6 col-right">
              <div class="card">
                <div class="post-img">
                  <div
                    class="carousel carousel-animated carousel-animate-slide"
                  >
                    <div class="carousel-container">
                      <div class="carousel-item is-active">
                        <a href="blog-post">
                          <img src="assets/images/post-5.jpg" />
                        </a>
                      </div>
                      <div class="carousel-item">
                        <a href="blog-post">
                          <img src="assets/images/post-11.jpg" />
                        </a>
                      </div>
                      <div class="carousel-item">
                        <a href="blog-post">
                          <img src="assets/images/post-8.jpg" />
                        </a>
                      </div>
                    </div>
                    <div class="carousel-navigation is-overlay">
                      <div class="carousel-nav-left">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      </div>
                      <div class="carousel-nav-right">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="post-category">
                    <a href="blog-list">Technology</a>
                  </div>
                  <a href="blog-post">
                    <h5 class="card-title">Blah blah blah</h5>
                  </a>
                  <ul class="post-meta">
                    <li>
                      <a href="about">Welison Menezes</a>
                    </li>
                    <li>20 April 2018</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- recent posts card loop -->
          <% articles.forEach(article => { %>

          <div class="columns">
            <div class="column is-6 col-left">
              <div class="card">
                <a href="blog-post" class="post-img">
                  <img
                    src="assets/images/post-6.jpg"
                    class="card-img-top"
                    alt=""
                  />
                </a>
                <div class="card-body">
                  <div class="post-category">
                    <a href="blog-list"><%= article.title %></a>
                  </div>
                  <a href="blog-post">
                    <h5 class="card-title"><%= article.description %></h5>
                  </a>
                  <ul class="post-meta">
                    <li>
                      <a href="about"><%= article.author %> </a>
                    </li>
                    <li><%= article.createdAt.toLocaleDateString() %></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="column is-6 col-right">
              <div class="card">
                <a href="blog-post" class="post-img">
                  <img
                    src="assets/images/post-7.jpg"
                    class="card-img-top"
                    alt=""
                  />
                </a>
                <div class="card-body">
                  <div class="post-category">
                    <a href="blog-list"><%= article.title%></a>
                  </div>
                  <a href="blog-post">
                    <h5 class="card-title"><%= article.description %></h5>
                  </a>
                  <ul class="post-meta">
                    <li>
                      <a href="about"><%= article.author %></a>
                    </li>
                    <li><%= article.createdAt.toLocaleDateString() %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <% }) %>
          <!-- 1st 2 rows of recent posts -->
          <div class="columns">
            <div class="column is-12">
              <div class="ads-box">
                <img src="assets/images/ad-2.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <a
                href="blog-list"
                class="btn btn-outline-primary btn-lg btn-block"
                >View More</a
              >
            </div>
          </div>
        </div>
        <!-- end recent-posts -->
      </div>

      <div class="column is-4">
        <!-- sidebar -->
        <div class="sidebar">
          <div class="columns">
            <div class="column is-12">
              <div class="section-title">
                <h4 class="title">Popular Posts</h4>
              </div>
              <ul class="last-posts">
                <li class="last-posts-item">
                  <a href="blog-post" class="post-img">
                    <img src="assets/images/post-4.jpg" alt="" />
                  </a>
                  <div class="post-body">
                    <div class="post-category">
                      <a href="blog-list">Technology</a>
                    </div>
                    <a href="blog-post">
                      <h5>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </h5>
                    </a>
                  </div>
                </li>
                <li class="last-posts-item">
                  <a href="blog-post" class="post-img">
                    <img src="assets/images/post-1.jpg" alt="" />
                  </a>
                  <div class="post-body">
                    <div class="post-category">
                      <a href="blog-list">Technology</a>
                    </div>
                    <a href="blog-post">
                      <h5>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </h5>
                    </a>
                  </div>
                </li>
                <li class="last-posts-item">
                  <a href="blog-post" class="post-img">
                    <img src="assets/images/post-3.jpg" alt="" />
                  </a>
                  <div class="post-body">
                    <div class="post-category">
                      <a href="blog-list">Technology</a>
                    </div>
                    <a href="blog-post">
                      <h5>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </h5>
                    </a>
                  </div>
                </li>
                <li class="last-posts-item">
                  <a href="blog-post" class="post-img">
                    <img src="assets/images/post-8.jpg" alt="" />
                  </a>
                  <div class="post-body">
                    <div class="post-category">
                      <a href="blog-list">Technology</a>
                    </div>
                    <a href="blog-post">
                      <h5>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </h5>
                    </a>
                  </div>
                </li>
                <li class="last-posts-item">
                  <a href="blog-post" class="post-img">
                    <img src="assets/images/post-7.jpg" alt="" />
                  </a>
                  <div class="post-body">
                    <div class="post-category">
                      <a href="blog-list">Technology</a>
                    </div>
                    <a href="blog-post">
                      <h5>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </h5>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <form class="form-sidebar">
                <div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search"
                  />
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="ads-box">
                <img src="assets/images/ad-1.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="section-title">
                <h4 class="title">Categories</h4>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="blog-list">Technology</a>
                  <small>123</small>
                </li>
                <li class="list-group-item">
                  <a href="blog-list">Development</a>
                  <small>98</small>
                </li>
                <li class="list-group-item">
                  <a href="blog-list">Design</a>
                  <small>76</small>
                </li>
                <li class="list-group-item">
                  <a href="blog-list">Frontend</a>
                  <small>32</small>
                </li>
                <li class="list-group-item">
                  <a href="blog-list">Companies</a>
                  <small>15</small>
                </li>
              </ul>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="section-title">
                <h4 class="title">Tags</h4>
              </div>
              <ul class="list-tags">
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm"
                    >Business</a
                  >
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm">Html</a>
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm"
                    >Web Development</a
                  >
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm">Art</a>
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm">Desgin</a>
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm">Games</a>
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm">Amazon</a>
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm"
                    >Design Pattern</a
                  >
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm">UX</a>
                </li>
                <li>
                  <a href="blog-list" class="btn btn-primary btn-sm"
                    >Technology</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="columns">
            <div class="column is-12">
              <div class="section-title">
                <h4 class="title">Newsletter</h4>
              </div>
              <form class="form-sidebar">
                <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium</p>
                <div>
                  <input type="text" class="form-control" placeholder="Email" />
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end sidebar -->
      </div>
    </div>

    <!-- featured-posts -->
    <div class="featured-posts">
      <div class="columns">
        <div class="column is-12">
          <div class="section-title">
            <h3 class="title">Featured Posts</h3>
          </div>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-3 is-6-mobile">
          <div class="post post-thumb">
            <a href="blog-post" class="post-img">
              <img src="assets/images/post-6.jpg" alt="" />
            </a>
            <div class="post-body">
              <div class="post-category">
                <a href="blog-list">Technology</a>
              </div>
              <h3 class="post-title">
                <a href="blog-post">
                  Postea senserit id eos, vivendo periculis ei qui
                </a>
              </h3>
              <ul class="post-meta">
                <li>
                  <a href="about">Welison Menezes</a>
                </li>
                <li>20 April 2018</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-3 is-6-mobile">
          <div class="post post-thumb">
            <a href="blog-post" class="post-img">
              <img src="assets/images/post-11.jpg" alt="" />
            </a>
            <div class="post-body">
              <div class="post-category">
                <a href="blog-list">Technology</a>
              </div>
              <h3 class="post-title">
                <a href="blog-post">
                  Postea senserit id eos, vivendo periculis ei qui
                </a>
              </h3>
              <ul class="post-meta">
                <li>
                  <a href="about">Welison Menezes</a>
                </li>
                <li>20 April 2018</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-3 is-6-mobile">
          <div class="post post-thumb">
            <a href="blog-post" class="post-img">
              <img src="assets/images/post-4.jpg" alt="" />
            </a>
            <div class="post-body">
              <div class="post-category">
                <a href="blog-list">Technology</a>
              </div>
              <h3 class="post-title">
                <a href="blog-post">
                  Postea senserit id eos, vivendo periculis ei qui
                </a>
              </h3>
              <ul class="post-meta">
                <li>
                  <a href="about">Welison Menezes</a>
                </li>
                <li>20 April 2018</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-3 is-6-mobile">
          <div class="post post-thumb">
            <a href="blog-post" class="post-img">
              <img src="assets/images/post-9.jpg" alt="" />
            </a>
            <div class="post-body">
              <div class="post-category">
                <a href="blog-list">Technology</a>
              </div>
              <h3 class="post-title">
                <a href="blog-post">
                  Postea senserit id eos, vivendo periculis ei qui
                </a>
              </h3>
              <ul class="post-meta">
                <li>
                  <a href="about">Welison Menezes</a>
                </li>
                <li>20 April 2018</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end featured-posts -->
  </div>
</main>
<!-- end main -->

<!-- footer -->
<%-include('./layouts/footer.ejs') %>

<!-- end footer -->
